.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto;
  color: var(--text-color);
  font-size: 2.6rem;
  text-align: center;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  cursor: pointer;
  padding: 3rem 2rem 4rem;
  height: 30rem;
  width: 30rem;
  margin: 2rem;
  transition: 0.5s ease;
}

.cards__content:hover {
  border-color: var(--main-color);
  transform: scale(1);
  box-shadow: 0 0 1rem var(--main-color);
}

.characters-img {
  height: 20rem;
  width: 20rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  margin-top: -10rem;
  z-index: 2;
}

.characters-name {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
}

.alien::before,
.human::before,
.animal::before,
.humanoid::before {
  content: "";
  display: inline-block;
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.human::before {
  background: rgb(31, 207, 31);
}

.alien::before {
  background: rgb(222, 13, 107);
}

.animal::before {
  background: rgb(8, 23, 117);
}

.humanoid::before {
  background: rgb(222, 159, 13);
}

.human,
.animal,
.alien,
humanoid {
  font-size: 1.5rem;
  font-weight: 400;
}

.origin-name {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
