@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  background-color: transparent;
}

:root {
  --primary-bg-color: rgb(31, 36, 46);
  --secondary-bg-color: rgb(16, 115, 135);
  --main-color: rgb(190, 222, 64);
  --title-color: rgb(102, 102, 102);
  --text-color: rgb(207, 206, 206);
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Creepster", sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: var(--primary-bg-color);
}

.title {
  font-family: var(--secondary-font);
  color: var(--secondary-bg-color);
  text-align: center;
  margin-top: 4rem;
  font-size: 5rem;
  text-shadow: -2px 0 var(--main-color), 0 2px var(--main-color),
    2px 0 var(--main-color), 0 -2px var(--main-color);
  letter-spacing: 0.6rem;
}

.RM {
  font-size: 8rem;
}

section {
  min-height: 100vh;
  width: 100vw;
  padding: 10rem 9% 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 0.7rem var(--main-color);
  font-size: 1.6rem;
  color: var(--secondary-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

button:hover {
  box-shadow: none;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
