.search__area {
  position: relative;
  border: 1px solid var(--main-color);
  padding: 1rem 1.5rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 5rem;
}

.search__area input {
  width: 100%;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
}

input:focus::placeholder {
  color: transparent;
}

.search__icon {
  position: absolute;
  right: 2rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
  top: 30%;
}

@media only screen and (max-width: 500px) {
  .search__area {
    font-size: 1rem;
  }
}
